{% extends "::front.html.twig" %}

{% block title %}Next Group - Le N1 du développement logiciel et site web au Mali  {{ parent() }}  {% endblock %}

{% block content %}
    <!-- Revolution slider start -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="notransition" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                    <!-- MAIN IMAGE -->
                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.binov.com/wp-content/uploads/2015/06/backg_mobile.png" data-src="http://www.binov.com/wp-content/uploads/2015/06/backg_mobile.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://www.binov.com/wp-content/uploads/2015/06/backg_mobile.png&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption texte-blanc sfl tp-resizeme start" data-x="5" data-y="122" data-speed="2000" data-start="2000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight:100 !important; left: 285px; top: 122px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); color: rgb(255, 255, 255); font-weight: bold !important; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px;">Pourquoi perdre votre temps
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption texte-blanc sfl tp-resizeme start" data-x="5" data-y="159" data-speed="2000" data-start="2000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 40px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 38px !important; left: 285px; top: 159px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); color: #e7512f  !important; font-weight: bold;" >Quand vous avez
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption texte-blanc-orange sfl tp-resizeme start" data-x="5" data-y="202" data-speed="2000" data-start="2000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 66px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 285px; top: 202px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); color: #fff  !important; font-weight: bold;">VOTRE APPLICATION
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption texte-blanc-orange sfl tp-resizeme start" data-x="5" data-y="283" data-speed="2000" data-start="2000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 66px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 285px; top: 283px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); color: #fff  !important; font-weight: bold;">MOBILE ?
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption black2 sfl tp-resizeme start" data-x="5" data-y="362" data-speed="2000" data-start="2000" data-easing="easeInOutBack" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 31px; left: 285px; top: 362px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);">
                        <a href="http://www.binov.com/expertises/solutions-mobiles/" style="display: block; color: rgb(244, 121, 32); width: 200px; height: 50px; vertical-align: middle; text-align: center; text-transform: uppercase; font-weight: bold; transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 31px;"> Lancez-vous!! </a>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption sfr start" data-x="624" data-y="17" data-speed="500" data-start="500" data-easing="Power0.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10; left: 904px; top: 17px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/mobile_binov.png" alt="" data-ww="317.54257907542575" data-hh="421" style="width: 317.543px; height: 421px;">
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption sfr start" data-x="469" data-y="43" data-speed="1000" data-start="1000" data-easing="easeOutSine" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11; left: 749px; top: 43px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/objets_flying.png" alt="" data-ww="447.78177458033576" data-hh="385" style="width: 447.782px; height: 385px;">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption sfr start" data-x="431" data-y="43" data-speed="2000" data-start="2000" data-easing="Power0.easeInOut" data-elementdelay="0.2" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12; left: 711px; top: 43px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/objets_transparents.png" alt="" data-ww="599.3240740740741" data-hh="383" style="width: 599.324px; height: 383px;">
                    </div>
                </li>

                <li data-transition="notransition" data-slotamount="7" data-masterspeed="300" data-delay="9000" data-saveperformance="on" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;">
                    <!-- MAIN IMAGE -->
                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.binov.com/wp-content/uploads/2015/06/fond-erp.png" data-src="http://www.binov.com/wp-content/uploads/2015/06/fond-erp.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://www.binov.com/wp-content/uploads/2015/06/fond-erp.png&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-fade start" data-x="-42" data-y="59" data-speed="500" data-start="500" data-easing="Circ.easeIn" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; left: 238px; top: 59px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roues-pt.png" alt="" data-ww="777" data-hh="360" style="width: 777px; height: 360px;">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption sft start" data-x="1" data-y="38" data-speed="1000" data-start="1000" data-easing="easeOutCirc" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; left: 281px; top: 38px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roue1.png" alt="" data-ww="169" data-hh="169" style="width: 169px; height: 169px;">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption sft start" data-x="186" data-y="38" data-speed="1500" data-start="1500" data-easing="easeOutCirc" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; left: 466px; top: 38px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roue61.png" alt="" data-ww="187.88165680473372" data-hh="189" style="width: 187.882px; height: 189px;">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption sft start" data-x="414" data-y="38" data-speed="2000" data-start="2000" data-easing="easeOutCirc" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; left: 694px; top: 38px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roue41.png" alt="" data-ww="171.4189189189189" data-hh="177" style="width: 171.419px; height: 177px;">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption sfb start" data-x="46" data-y="271" data-speed="2500" data-start="2500" data-easing="easeOutCirc" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9; left: 326px; top: 271px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roue21.png" alt="" data-ww="172.63636363636365" data-hh="171" style="width: 172.636px; height: 171px;">
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption sfb start" data-x="241" data-y="271" data-speed="3000" data-start="3000" data-easing="easeOutCirc" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10; left: 521px; top: 271px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roue51.png" alt="" data-ww="176.03550295857988" data-hh="175" style="width: 176.036px; height: 175px;">
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption sfb start" data-x="430" data-y="271" data-speed="3500" data-start="3500" data-easing="easeOutCirc" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11; left: 710px; top: 271px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/roue31.png" alt="" data-ww="169.94444444444443" data-hh="171" style="width: 169.944px; height: 171px;">
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption texte-bleu sfr tp-resizeme start" data-x="736" data-y="102" data-speed="4500" data-start="4500" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 30px; left: 1016px; top: 102px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);">Utilisez-vous
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption texte-bleu sfr tp-resizeme start" data-x="605" data-y="144" data-speed="4500" data-start="4500" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 13; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 30px; left: 885px; top: 144px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);">un outil qui simplifie
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption texte-blanc-bleu sfr tp-resizeme start" data-x="719" data-y="191" data-speed="4500" data-start="4500" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 14; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 66px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 999px; top: 191px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);">la gestion
                    </div>

                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption texte-bleu-fond-jaune sfr tp-resizeme start" data-x="609" data-y="275" data-speed="4500" data-start="4500" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 15; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 66px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 889px; top: 275px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);">de vos projets ?
                    </div>

                    <!-- LAYER NR. 12 -->
                    <div class="tp-caption black2 sfr tp-resizeme start" data-x="724" data-y="361" data-speed="4500" data-start="4500" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 16; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 31px; left: 1004px; top: 361px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);"><a href="http://www.binov.com/expertises/solutions-erp/" style="display: block; color: rgb(244, 121, 32); width: 200px; height: 50px; vertical-align: middle; text-align: center; text-transform: uppercase; font-weight: bold; transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 31px; color: #fff;"> Lancez-vous!! </a>
                    </div>
                </li>

                <li data-transition="notransition" data-slotamount="7" data-masterspeed="500" data-delay="9000" data-saveperformance="on" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; visibility: hidden; opacity: 0; z-index: 18;">
                    <!-- MAIN IMAGE -->
                    <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="center top" data-kenburns="undefined" data-easeme="undefined" data-bgfit="cover" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" data-lazydone="undefined" src="http://www.binov.com/wp-content/uploads/2015/06/fond_solution_sur-mesure.png" data-src="http://www.binov.com/wp-content/uploads/2015/06/fond_solution_sur-mesure.png" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://www.binov.com/wp-content/uploads/2015/06/fond_solution_sur-mesure.png&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit;"></div></div>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption randomrotate start" data-x="539" data-y="89" data-speed="500" data-start="500" data-easing="easeOutQuad" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; left: 819px; top: 89px; visibility: visible; opacity: 0; transform: matrix3d(0.224951, 0.97437, 0, 0, -0.97437, 0.224951, 0, 0, 0, 0, 1, 0, 82, 79, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/cerle-fleche.png" alt="" style="width: 322px; height: 323px;">
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption randomrotate start" data-x="703" data-y="85" data-speed="1000" data-start="950" data-easing="easeOutQuad" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 6; left: 983px; top: 85px; visibility: visible; opacity: 0; transform: matrix3d(0.965926, 0.258819, 0, 0, -0.258819, 0.965926, 0, 0, 0, 0, 1, 0, -21, -88, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/fleche1.png" alt="" style="width: 170px; height: 170px;">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption randomrotate start" data-x="485" data-y="2" data-speed="2000" data-start="2000" data-easing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; left: 765px; top: 2px; visibility: visible; opacity: 0; transform: matrix3d(-0.0348995, -0.999391, 0, 0, 0.999391, -0.0348995, 0, 0, 0, 0, 1, 0, -26, -99, 0, 1);"><img src="http://www.binov.com/wp-content/uploads/2015/06/tour1.png" alt="" style="width: 445px; height: 459px;">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption randomrotate start" data-x="435" data-y="2" data-speed="2500" data-start="2500" data-easing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 8; left: 715px; top: 2px; visibility: visible; opacity: 0; transform: matrix3d(0.0871557, -0.996195, 0, 0, 0.996195, 0.0871557, 0, 0, 0, 0, 1, 0, -30, 49, 0, 1);"><div class="tp-layer-inner-rotation  " style=" -moz-transform: rotate(2deg); -ms-transform: rotate(2deg); -o-transform: rotate(2deg); -webkit-transform: rotate(2deg); transform: rotate(2deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
                            <img src="http://www.binov.com/wp-content/uploads/2015/06/tour2.png" alt="" style="width: 600px; height: 451px;">
                        </div>
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption randomrotate start" data-x="298" data-y="15" data-speed="2500" data-start="3000" data-easing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 9; left: 578px; top: 15px; visibility: visible; opacity: 0; transform: matrix3d(0.927184, 0.374607, 0, 0, -0.374607, 0.927184, 0, 0, 0, 0, 1, 0, -72, -13, 0, 1);"><div class="tp-layer-inner-rotation  " style=" -moz-transform: rotate(352deg); -ms-transform: rotate(352deg); -o-transform: rotate(352deg); -webkit-transform: rotate(352deg); transform: rotate(352deg); -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;">
                            <img src="http://www.binov.com/wp-content/uploads/2015/06/tour3.png" alt="" data-ww="818" data-hh="417" style="width: 818px; height: 417px;">
                        </div>
                    </div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption black2 sfl tp-resizeme start" data-x="10" data-y="354" data-speed="4000" data-start="4000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 10; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 31px; left: 290px; top: 354px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);"><a href="http://www.binov.com/expertises/solutions-web/" style="display: block; color: rgb(244, 121, 32); width: 200px; height: 50px; vertical-align: middle; text-align: center; text-transform: uppercase; font-weight: bold; transition: all 0.2s ease-out 0s; min-height: 0px; min-width: 0px; line-height: 44px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 31px;"> Lancez-vous!! </a>
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption texte-bleu sfl tp-resizeme start" data-x="10" data-y="315" data-speed="4000" data-start="4000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 11; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 30px; left: 290px; top: 315px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);">à vos processus habituel ?
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption texte-blanc-orange sfl tp-resizeme start" data-x="10" data-y="235" data-speed="4000" data-start="4000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 12; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 66px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 290px; top: 235px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);">sur mesure
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption texte-blanc-orange sfl tp-resizeme start" data-x="10" data-y="154" data-speed="4000" data-start="4000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 13; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 66px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 40px; left: 290px; top: 154px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);">solution logicielle
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption texte-bleu sfl tp-resizeme start" data-x="10" data-y="110" data-speed="4000" data-start="4000" data-easing="easeOutCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 14; white-space: nowrap; transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 30px; left: 290px; top: 110px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);">voulez-vous adopter une
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- Revolution slider end -->

    <!-- Welcome Box start -->
    <div class="welcome">
        <div class="container">
            <h3 class="center block-head"><span class="main-color">Bienvenue à NEXT GROUP</span> - Votre Partenaire en Solutions Innovantes</h3>
            <p class="margin-bottom-0">Next Group est une compagnie informatique qui est spécialisée dans la programmation de logiciel sur mesure, le développement de site Internet, le développement d’application mobile, la consultation informatique ainsi que la conception graphique.</p>
        </div>
    </div>
    <!-- Welcome Box end -->

    <!-- Services boxes style 1 start -->
    <div class="gry-bg">
        <div class="container">
            <div class="row">
                <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="200">
                    <div class="box-top">
                        <img src="{{ asset('assets/images/erp_sans_fond-300x209.png') }}">
                        <h3>SOLUTIONS ERP</h3>
                        <p>Quelque soit vos besoins en terme de gestion d’informations (réaliser un devis, établir une facture client, créer un référentiel centralisé de vos produits, mieux maîtriser vos stocks, etc…), nous vous conseillons de vous pencher sur les solutions de gestion ERP.</p>
                        <a class="more-btn" href="services.html">En savoir plus</a>
                    </div>
                </div>
                <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="400">
                    <div class="box-top">
                        <img src="{{ asset('assets/images/solution_web-300x209.png') }}">
                        <h3>SOLUTIONS WEB</h3>
                        <p>Les ingénieurs développement, les designers et web designers de Next Group sont capables de concevoir et réaliser votre site vitrine, e-commerce, extranet ou tout autre type d’applications web de gestion.</p>
                       <br> <a class="more-btn" href="services.html">En savoir plus</a>
                    </div>
                </div>
                <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="600">
                    <div class="box-top">
                        <img src="{{ asset('assets/images/mobile-solution-300x209.png') }}">
                        <h3>SOLUTIONS MOBILE</h3>
                        <p>En s’appuyant sur notre expertise dans l’édition d’applications mobiles sur mesure, Binov est en mesure de répondre à vos besoins dans le domaine et sur toutes les plateformes (iOS, Windows Phone, Androïd).</p>
                       <br> <a class="more-btn" href="services.html">En savoir plus</a>
                    </div>
                </div>
                <div class="cell-3 service-box-1 fx" data-animate="fadeInUp" data-animation-delay="800">
                    <div class="box-top">
                        <i class="fa fa-legal"></i>
                        <h3>BASE DE DONNEES</h3>
                        <p>L’architecture de données décrit la structure de données utilisée par l’organisation ou par les applications utilisées par celle-ci. En faisant appel à Next Group pour votre architecture de données, vous optez pour une solution sur mesure, adaptée aux besoins de votre entreprise et de votre personnel.</p>
                        <a class="more-btn" href="services.html">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services boxes style 1 start -->


    <!-- Portfolio Staff -->
    <div class="sectionWrapper gry-bg">
        <div class="container">
            <h3 class="block-head">Nos projets/produits récents</h3>

            <div class="portfolioGallery portfolio">
                <!-- staff item start -->
                <div>
                    <div class="portfolio-item">
                        <div class="img-holder">
                            <div class="img-over">
                                <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                            </div>
                            <img alt="" src="images/portfolio/1.jpg">
                        </div>
                        <div class="name-holder">
                            <a href="#" class="project-name">Project Title</a>
                            <span class="project-options">Project Category</span>
                        </div>
                    </div>
                </div>
                <!-- staff item end -->

                <!-- staff item start -->
                <div>
                    <div class="portfolio-item">
                        <div class="img-holder">
                            <div class="img-over">
                                <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                            </div>
                            <img alt="" src="images/portfolio/1.jpg">
                        </div>
                        <div class="name-holder">
                            <a href="#" class="project-name">Project Title</a>
                            <span class="project-options">Project Category</span>
                        </div>
                    </div>
                </div>
                <!-- staff item end -->

                <!-- staff item start -->
                <div>
                    <div class="portfolio-item">
                        <div class="img-holder">
                            <div class="img-over">
                                <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                            </div>
                            <img alt="" src="images/portfolio/1.jpg">
                        </div>
                        <div class="name-holder">
                            <a href="#" class="project-name">Project Title</a>
                            <span class="project-options">Project Category</span>
                        </div>
                    </div>
                </div>
                <!-- staff item end -->

                <!-- staff item start -->
                <div>
                    <div class="portfolio-item">
                        <div class="img-holder">
                            <div class="img-over">
                                <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                            </div>
                            <img alt="" src="images/portfolio/1.jpg">
                        </div>
                        <div class="name-holder">
                            <a href="#" class="project-name">Project Title</a>
                            <span class="project-options">Project Category</span>
                        </div>
                    </div>
                </div>
                <!-- staff item end -->

                <!-- staff item start -->
                <div>
                    <div class="portfolio-item">
                        <div class="img-holder">
                            <div class="img-over">
                                <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                            </div>
                            <img alt="" src="images/portfolio/1.jpg">
                        </div>
                        <div class="name-holder">
                            <a href="#" class="project-name">Project Title</a>
                            <span class="project-options">Project Category</span>
                        </div>
                    </div>
                </div>
                <!-- staff item end -->

                <!-- staff item start -->
                <div>
                    <div class="portfolio-item">
                        <div class="img-holder">
                            <div class="img-over">
                                <a href="portfolio-single.html" class="fx link"><b class="fa fa-link"></b></a>
                                <a href="images/portfolio/1.jpg" class="fx zoom" data-gal="prettyPhoto[pp_gal]" title="Project Title"><b class="fa fa-search-plus"></b></a>
                            </div>
                            <img alt="" src="images/portfolio/1.jpg">
                        </div>
                        <div class="name-holder">
                            <a href="#" class="project-name">Project Title</a>
                            <span class="project-options">Project Category</span>
                        </div>
                    </div>
                </div>
                <!-- staff item end -->
            </div>
            <div class="clearfix"></div>
            <div class="view-all-projects"><a class="btn main-bg btn-3d btn-lg" href="portfolio-4-cols.html">Voir tous les projets</a></div>
        </div>
    </div>


    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <h3 class="block-head">NOS SERVICES</h3>
                <div class="cell-3 service-box-2 fx animated fadeInDown" data-animate="fadeInDown">
                    <div class="box-2-cont">
                        <i class="fa fa-check-square-o"></i>
                        <h4>AUDIT ET CONSEIL</h4>
                        <p class="mediumFont">Nous accompagnons notre client dans les démarches lui permettant d’optimiser et de faire évoluer l’ensemble de son système d’information.</p>
                        <a class="r-more main-color" href="services.html">Voir plus</a>
                    </div>
                </div>
                <div class="cell-3 service-box-2 fx animated fadeInDown" data-animate="fadeInDown" data-animation-delay="200" style="animation-delay: 200ms;">
                    <div class="box-2-cont">
                        <i class="fa fa-thumbs-o-up"></i>
                        <h4>ACCOMPAGNEMENT</h4>
                        <div class="center sub-title main-color">sub title</div>
                        <p class="mediumFont">Nos consultants fonctionnels examinent la gestion et les conditions de fonctionnement des services de l’entreprise en organisant des audits SI.</p>
                        <a class="r-more main-color" href="services.html">Voir plus</a>
                    </div>
                </div>
                <div class="cell-3 service-box-2 fx animated fadeInDown" data-animate="fadeInDown" data-animation-delay="400" style="animation-delay: 400ms;">
                    <div class="box-2-cont">
                        <i class="fa fa-group"></i>
                        <h4>FORMATION</h4>
                        <p class="mediumFont">Pour développer le potentiel du projet, Next Group assure la formation de vos collaborateurs en amont ou suite à la mise en oeuvre de la solution.</p>
                        <a class="r-more main-color" href="services.html">Voir plus</a>
                    </div>
                </div>
                <div class="cell-3 service-box-2 fx animated fadeInDown" data-animate="fadeInDown" data-animation-delay="600" style="animation-delay: 600ms;">
                    <div class="box-2-cont">
                        <i class="fa fa-leaf"></i>
                        <h4>MAINTENANCE ET QUALITÉ</h4>
                        <p class="mediumFont">Next Group propose des services  de maintenance afin de garantir le bon fonctionnement des solutions  mises en oeuvre.</p>
                        <a class="r-more main-color" href="services.html">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- About us and Features container -->
    <div class="sectionWrapper">
        <div class="container">
            <div class="row">
                <div class="cell-7">
                    <div class="fx" data-animate="fadeInLeft">
                        <h3 class="block-head">About us</h3>
                        <p>Next Group est une compagnie informatique qui est spécialisée dans la programmation de logiciel sur mesure, le développement de site
                            web, le développement d’application mobile, la consultation informatique ainsi que la conception graphique.
                            Next Group est avant tout une équipe polyvalente, jeune, dynamique, innovatrice et très créative ayant comme objectif
                            premier la satisfaction de sa clientèle. Toujours en constante évolution pour être à la fine pointe de la technologie,
                            nous nous engageons à fournir des solutions informatiques sur mesure adaptées aux besoins réels du client.
                            Les membres de l’équipe prennent chaque client comme un nouveau défi et notre but commun est d’augmenter
                            leur visibilité et leur rentabilité.
                            Grace à son équipe, Next Group possède une forte expertise et reflète parfaitement sa passion et son professionnalisme.

                        </p>
                    </div>
                    <div class="what-do fx" data-animate="fadeInLeft">
                        <h3 class="main-color">What we do</h3>
                        <ul class="list alt list-ok">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque</li>
                            <li>Suspendisse hendrerit id lacus id lobortis vestibulum quam elit</li>
                            <li>Fusce scelerisque pellentesqu suspendisse elementum adipiscing</li>
                            <li>Lorem ipsum dolor sit amet, consectetur</li>
                        </ul>
                    </div>
                </div>
                <div class="cell-5 fx" data-animate="fadeInRight">
                    <h3 class="block-head">Our Skills</h3>
                    <ul class="levels">
                        <li>
                            <div class="level-name">Web UI Development</div>
                            <div class="level-out"><span></span>
                                <div class="level-in" data-percent="100"></div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="level-name">ASP.NET Development</div>
                            <div class="level-out"><span></span>
                                <div class="level-in" data-percent="60"></div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="level-name">Graphic design</div>
                            <div class="level-out"><span></span>
                                <div class="level-in" data-percent="90"></div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li>
                            <div class="level-name">SEO Managment</div>
                            <div class="level-out"><span></span>
                                <div class="level-in" data-percent="80"></div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}