{% extends "::front.html.twig" %}

{% block title %}Solutions Web - Next Group  {% endblock %}

{% block content %}
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Services Suivi et Formation </h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Vous êtes ici:</span><a href="#">Accueil</a><span class="line-separate">/</span><a href="#">Expertises </a><span class="line-separate">/</span><span>Service Suivi et formation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div class="sectionWrapper img-pattern">
        <div class="container">
            <div class="cell-8">
                <div class="row">
                    <div class="block fx" data-animate="fadeInLeft">
                         <h3> Next Group accompagne ses clients au commencement du projet »</h3>
                        <p style="font-size: 16px"> Afin de répondre parfaitement aux attentes et objectifs de nos clients, nos consultants fonctionnels examinent la gestion et les conditions de fonctionnement des services de l'entreprise en organisant des audits SI (Système d'Information)
                        </p>
                        <p style="font-size: 16px"> L'analyse complète de votre secteur d'activité (marché, concurrence, progression) et de votre système d'information, combinée à vos idées, vos stratégies et vos objectifs, nous permettront de vous apporter les conseils nécessaires pour la mise en oeuvre d'une solution pertinente. </p>
                        <h3>« Formation de vos collaborateurs aux solutions nouvelles »</h3>
                        <p style="font-size: 16px"> Pour développer le potentiel du projet, Next Group assure la formation de vos collaborateurs en amont ou suite à la mise en oeuvre des solutions nouvelles.</p>
                        <p style="font-size: 16px"> Nos équipes sont en mesure d'assister vos collaborateurs ou vos clients dans l'utilisation des services proposées par la nouvelle solution mise en oeuvre.</p>
                        <p style="font-size: 16px"> Cette phase de formation et d'assistance nous permettra d'obtenir les éventuels retours et expériences utilisateurs, et ainsi, apporter les correctifs nécessaires ou de vous proposer des idées d'évolutions pertinentes.</p>
                    </div>
                </div>
            </div>
            <div class="cell-4 fx" data-animate="bounceIn">
                <img alt="" src="{{ absolute_url(asset('assets/images/service_audit_conseil.png')) }}">
            </div>
        </div>
    </div>


    </div>


{% endblock %}