{% extends "::front.html.twig" %}

{% block title %}Solutions Web - Next Group  {% endblock %}

{% block content %}
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Services Audit et Conseil </h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Vous êtes ici:</span><a href="#">Accueil</a><span class="line-separate">/</span><a href="#">Expertises </a><span class="line-separate">/</span><span>Service Audit et Conseil</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div class="sectionWrapper img-pattern">
        <div class="container">
            <div class="cell-8">
                <div class="row">
                    <div class="block fx" data-animate="fadeInLeft">
                        <!-- <h3 class="block-head">Next Group votre partenaire idéal en solution web</h3> -->
                        <p style="font-size: 16px"> Pour la réussite des projets clients, Next Group met à la disposition des entreprises et des sociétés de services l'expertise et le savoir faire de ses ingénieurs conseils en système d'information.
                        </p>
                        <p style="font-size: 16px">Grâce à des processus méthodologiques flexibles et professionnels, nous accompagnons notre client dans les démarches lui permettant d'optimiser et de faire évoluer l'ensemble de son système d'information. </p>
                        <p style="font-size: 16px">Le processus est décomposé de la manière suivante :
                            <ul class="list prim list-ok" style="font-size: 16px">
                              <li>analyse des besoins et étude de la faisabilité,</li>
                              <li>rédaction des spécifications du projet,</li>
                              <li>architecture générale du projet et conception détaillée,</li>
                              <li>réalisation du projet,</li>
                              <li>élaboration des tests (unitaires, d'intégration et de validation),</li>
                              <li>mise en production et maintenance.</li>
                            </ul>

                    </div>
                </div>
            </div>
            <div class="cell-4 fx" data-animate="bounceIn">
                <img alt="" src="{{ absolute_url(asset('assets/images/service_audit_conseil.png')) }}">
            </div>
        </div>
    </div>


    </div>


{% endblock %}