{% extends "::front.html.twig" %}

{% block title %}Solutions Web - Next Group  {% endblock %}

{% block content %}
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Solutions ERP </h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Vous êtes ici:</span><a href="#">Acceuil</a><span class="line-separate">/</span><a href="#">Expertises </a><span class="line-separate">/</span><span>Solutions Mobiles</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div class="sectionWrapper img-pattern">
        <div class="container">
            <div class="cell-8">
                <div class="row">
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3 class="block-head">Next Group votre partenaire idéal en solution web</h3>
                        <p style="font-size: 16px">Les ingenieurs de développement de Next Group sont capables de concevoir et de réaliser votre site vitrine,e-commerce, extranet ou tout autre application web de gestion.
                        </p>
                        <h3>Un site internet unique, adapté aux mobiles</h3>
                        <p style="font-size: 16px">Pour vorte site internet, Next Group s'applique sur les nouveaux outils à la pointe pour vous creez un site unique qui saura maximisé au rendement sur internet </p>
                        <p style="font-size: 16px">Concernant les sites et commerces(site de vente en ligne) plusieurs choix s'offre à nous (prestation,woocommerce). la sélection est fonction des attentes et des objectifs de nos clients
                        </p>
                        <p style="font-size: 16px">le choix d'un système de gestion de contenu(CNS) permettra de rendre de ns clients totalement autonome dans la gestion du contenu de son site vitrine au e-commerce </p>
                        <p style="font-size: 16px">Afin que votre solution web soit unique nos équipes sont en mesure de concevoir l'ensemble de votre charte graphique( identité visuelle, logo, couleur...) pour l'intégrer ensuite dans votre site web
                        </p>
                        <h3>Répondre à un besoin de solution web sur mesure</h3>
                        <p>Next Group à travers son équipe de développement est en mesure de répondre à des besoins spécifiques et demandant des développements sur mesure. </p>
                        <p>Que ce soit pour imposer le site internet plus ambitieux pour des beosins d'applications web de type extranet, site d'anonce ou tout autre type de projet. Next Group dispose des ressources nécessaires pour répondre à vos besoins.</p>
                    </div>
                </div>
            </div>
            <div class="cell-4 fx" data-animate="bounceIn">
                <img alt="" src="{{ absolute_url(asset('assets/images/img_solution-web-350x504.png')) }}">
            </div>
        </div>
    </div>


    </div>


{% endblock %}