{% extends "::front.html.twig" %}

{% block title %}Solutions ERP - Next Group  {% endblock %}

{% block content %}
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Solutions ERP </h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Vous êtes ici:</span><a href="#">Acceuil</a><span class="line-separate">/</span><a href="#">Expertises </a><span class="line-separate">/</span><span>Solutions ERP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div class="sectionWrapper img-pattern">
        <div class="container">
            <div class="cell-8">
                <div class="row">
                    <div class="block fx" data-animate="fadeInLeft">
                        <h3 class="block-head">Devenir celui qui saura adapté la solution de gestion au processus client...</h3>
                        <p style="font-size: 16px">Quelque soit vos besoins en terme de gestion d'information( réaliser un dévis, établir une facture client, créer un référentiel centralisé de vos produits, mieux maîtriser vos stocks...), nous vous conseillons de vous penchez sur les solutions de gestion ERP.
                        </p>
                        <p style="font-size: 16px">Next Group est votre partenaire. Solution de gestion parfaitement adapté aux besoins des PME/PMI le logiciel Odoo saura répondre aux différentes problématiques de gestion, spécifique ou non, de l'entreprise </p>
                        <p style="font-size: 16px">Parmi les nombreuses fonctionnalités de Odoo,nous pouvons citer: <br>
                            <ul  class="list prim list-ok">
                            <li>Gestion des relations clientes(CRM)</li>
                            <li>Gestion du suivi de la production(gestion des achats et des projets)</li>
                            <li>Gestion des produits (catalogues,stocks)</li>
                            <li>Gestion des ressources humaines (recrutements et gestion des employés)</li>
                            <li>Gestion financière( devis, facturations, encaissements et comptabilités)</li>
                            <li>Gestion marketing (gestion de sondage, gestion d'évènements)</li>
                            </ul>
                         </p>

                        <p style="font-size: 16px">
                         Next Group adapte totalement la solution de gestion aux problématiques et habitudes de ses clients via le développement spécifique au sein de l'environnement Odoo
                        </p>
                        <p style="font-size: 16px">
                            Quelque soit votre metier, nous serons votre partenaire pour adapter la solution ERP Odoo à vos processus habituels
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell-4 fx" data-animate="bounceIn">
                <img alt="" src="images/devices.png">
            </div>
        </div>
    </div>


    </div>
{% endblock %}