{% extends "::front.html.twig" %}

{% block title %}Solutions Web - Next Group  {% endblock %}

{% block content %}
    <div class="page-title title-1">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Solutions Mobiles </h1>
                    <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                        <span class="bold">Vous êtes ici:</span><a href="#">Accueil</a><span class="line-separate">/</span><a href="#">Expertises </a><span class="line-separate">/</span><span>Solutions Mobiles</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div class="sectionWrapper img-pattern">
        <div class="container">
            <div class="cell-8">
                <div class="row">
                    <div class="block fx" data-animate="fadeInLeft">
                       <!-- <h3 class="block-head">Next Group votre partenaire idéal en solution web</h3> -->
                        <p style="font-size: 16px"> Avec plus de 8 millions de smartphones au Mali et 30 applications utilisées en moyenne, les applications mobiles sont devenues incontournables que ce soit pour faire la promotion de ses produits et services ou bien, pour faciliter le quotidien des collaborateurs de l'entreprise
                        </p>
                        <p style="font-size: 16px">« Next Group vous aide et vous accompagne dans l'adaptation de vos contenus aux plate-formes mobiles » </p>
                        <p style="font-size: 16px">En s'appuyant sur notre expertise dans l'édition d'applications mobiles sur mesure, Next Group est à votre disposition pour répondre à vos besoins dans le domaine et sur toutes les plateformes (iOS, Windows Phone, Androïd).
                        </p>
                        <p style="font-size: 16px">Ne passez pas à côté d'opportunités non négligeables grâce aux applications mobiles et leurs utilisations actuelles et futures ! Profitez de l'essor du m-commerce, des possibilités pushs (notifications), fidélisations (carte de fidélité dématérialisée), terminaux de vente (paiement client via votre application mobile), etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cell-4 fx" data-animate="bounceIn">
                <img alt="" src="{{ absolute_url(asset('assets/images/mobile-solution-300x209.png')) }}">
            </div>
        </div>
    </div>


    </div>


{% endblock %}