<div class="container">
    <div class="row">
        <div class="cell-5">
            <ul>
                <li><a href="#"><i class="fa fa-envelope"></i>info@nex-group.net</a></li>
                <li><span><i class="fa fa-phone"></i> Appellez au: (+223) 44 27 27 18</span></li>
            </ul>
        </div>

    </div>
</div>